.footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding: 22px 25px;
    gap: 16px;
    align-items: flex-start;
    color: #FFF;

    
    

    &-container a {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
    }

    &-logo img {
        color: #FFF;
    }
}


