.footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding: 22px 25px;
    gap: 16px;
    align-items: flex-start;
    color: #FFF;

    & h3 {
        font-size: 24px;
        color: #FFF;
        font-family: shrikhand;
        font-weight: 400;
        word-wrap: break-word;
    }

    &-group {
        display: flex;
        flex-direction: column;
        
        gap: 10px;
    }

    &-container a {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
    }

    &-logo img {
        color: #FFF;
    }

}

@media screen and (min-width: 1024px) {

    .footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 50px 50px 30px 50px  ;
    }

    .footer-icon {
        display: flex;
        margin-top: 8px;
        padding-left: 70px;
    }

    .footer-group {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .footer h3 {
     margin-top:  -30px;
    }
}