body {
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;

}

h1 {
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 30px;

    @media screen and (min-width:1025px) {
        font-size: 37px;
    }
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h3 {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

p {
    color: #000;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 5px;
}
