

.menu {

    background-color: #f6f6f6;
    padding: 55px 20px 65px;
}

.menu h2 {
    margin-bottom: 35px
}

.menu-cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.card-restaurent {
    position: relative;
}
.card {
    display: grid;
    grid-template: 70% 30% / 75% 25%;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    z-index: 0;
    position: relative;
}

.card img {
    width: 100%;
    height: 171px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    grid-area: 1 / 1 / 2 / 3;
}

.new {
    position:absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 15px;
}

.text-new {
    width: 80px;
    height: 30px;
    background-color: #99e2d0;
    font-size: 14px;
    text-align: center;
    padding: 8px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    color:#008766;
    font-weight: 500;

}
.card-discription {
    padding: 16px 25px 16px 12px;
}
.card:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    filter: brightness(1);
}
.icon {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
    bottom: 26px;
    right: 5px;
}
.icon .fa-regular {
    margin-right: -24px;
    color: black;
}
.icon .fa-solid:hover {
    
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
    line-height: 1;
    cursor: pointer;
    transition: opacity 0.8s ease-in 0.3s;
    background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.icon  .fa-solid:not(:hover) {
    opacity: 0;
    background-image:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%) ;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1;
    transition: opacity 0.8s ease-in 0.3s;

}

/*Media Queries desktop*/
@media screen and (min-width: 1024px) {

    
    #menu {
        margin: 55px 140px 65px;
    }
    .menu-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 55px;
        column-gap: 90px;
    }
    
    .card-restaurent {
        flex: 40%;
    }
}